@keyframes logoAnim {
    0% { width: 25px; opacity: 0; }
    100% { width: 475px; opacity: 1; }
}

#logo {
    animation: logoAnim 5s ease-in-out;
}

body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

p {
    text-align: left;
}

nav .nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:focus {
    color: #50C7C7;
    text-decoration: underline;
}

.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 1em;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis:450px; 
    background: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card button {
    background: #288080;
    color: white;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 150px;
    flex: 45%;
    border: 10px solid #50C7C7;
    margin: 10px;

}

.gallery img:nth-child(5) {
    flex: 0 1 45%;
    display: flex;
    justify-content: center;
}

@media (min-width: 900px) {
    body > header {
        position: fixed;
        top: 0;
        width: 100%;        
        z-index: 1000;
    }
    
    body {
        padding-top: 125px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    nav .nav_links {
        flex-direction: row;
    }
    
    .pricing {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .card {
        flex-basis: 275px;
    }

    .gallery img {
        width: 150px;
        flex: 30%;
        margin: 5px;
    }

    .gallery img:nth-child(4),
    .gallery img:nth-child(5) {
        flex: 0 1 30%;
    } 
}

@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav .nav_links {
        flex-direction: row;
        justify-content: space-between;
    }
  
    .pricing {
        align-items: flex-end;
    }
    
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    h2#gallery {
        display: none;
    }

    .gallery { 
        display: none; 
    }

    .card li:nth-child(2):after {
        content: "\1F44D";
        margin-left: 5px;
    }
}